## Final Project Submission

Please fill out:
* Student name: KIGO VALERIE WAMWITHA
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: FAITH ROTICH
* Blog post URL:

# Aviation_Data Project - Final Project
The company is expanding to new industries, to diversify its portifolio. A data scientist is to determine which aircraft is of low risk for the company to venture in and give actionable insights that the aviation division can use to decide which aircraft to purchase.

## Objectives
Will be able to deal with;

* Missing values in data
* How to aggregate data
* How to visualize and make data easily accessible

#### Task: Analyze best approach to be taken by the company

# Business Understanding
## What is the relationship between potential risk of an aircraft and its purchasing operations for the company?
### What aircraft will meet the needs of the company?
Intuitively it may be assumed that a plane model with many casualties or number of deaths is considered not reliable.

In this analysis we are going to look into AviationData dataset that will help in determining which Aircraft will be of best purchase.

In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# Data Understanding
The data source for this analysis will be from;
### 'AviationData.csv'
* *Sources* : The data was retrieved from Kaggle
*  *Contents* : Data about the potential risk of each flight. Contains; model numbers, fatal injuries and the accidents occured.
*  *Format* : It is a csv data
## TASK
* Check missing values
* Aggregate Data
## Use of
* drop_duplicates(): to ensure no duplicated values.
* df.head(): show first rows of a dataframe.
* df.shape: to know the size of the data set.
* df.drop(columns): drop Latitude and Longitude not in use at the moment in the data frame and also contains most missing values.

In [2]:
df = pd.read_csv('AviationData.csv', encoding = 'windows-1252', low_memory = False)
print(df)

             Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26
88885  20221227106494           Accident      ERA23LA095  2022-12-26
88886  20221227106497           Accident      WPR23LA075  2022-12-26
88887  20221227106498           Accident      WPR23LA076  2022-12-26
88888  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude   Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States        NaN         NaN          NaN
1       BRIDGEPORT, CA  United States        NaN         NaN          NaN
2        Saltville, VA  United States  36.922223  -81.878056          NaN
3           EUREKA, CA  United States        NaN         NaN          NaN
4           Canton, OH  United States        NaN         NaN          NaN
...                ...            ...        ...         ...          ...
88884    Annapolis, MD  United States        NaN         NaN          NaN
88885      Hampton, NH  United States        NaN         NaN          NaN
88886       Payson, AZ  United States    341525N    1112021W          PAN
88887       Morgan, UT  United States        NaN         NaN          NaN
88888       Athens, GA  United States        NaN         NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
88884          NaN  ...          Personal                 NaN
88885          NaN  ...               NaN                 NaN
88886       PAYSON  ...          Personal                 NaN
88887          NaN  ...          Personal  MC CESSNA 210N LLC
88888          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
88884                  0.0                    1.0                  0.0
88885                  0.0                    0.0                  0.0
88886                  0.0                    0.0                  0.0
88887                  0.0                    0.0                  0.0
88888                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
88884             0.0               NaN                    NaN
88885             0.0               NaN                    NaN
88886             1.0               VMC                    NaN
88887             0.0               NaN                    NaN
88888             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
88884             NaN       29-12-2022
88885             NaN              NaN
88886             NaN       27-12-2022
88887             NaN              NaN
88888             NaN       30-12-2022

[88889 rows x 31 columns]

In [3]:
missing_values = df.isna()
print("Missing values per column:")
print(missing_values[missing_values < 0])

Missing values per column:
      Event.Id Investigation.Type Accident.Number Event.Date Location Country  \
0          NaN                NaN             NaN        NaN      NaN     NaN
1          NaN                NaN             NaN        NaN      NaN     NaN
2          NaN                NaN             NaN        NaN      NaN     NaN
3          NaN                NaN             NaN        NaN      NaN     NaN
4          NaN                NaN             NaN        NaN      NaN     NaN
...        ...                ...             ...        ...      ...     ...
88884      NaN                NaN             NaN        NaN      NaN     NaN
88885      NaN                NaN             NaN        NaN      NaN     NaN
88886      NaN                NaN             NaN        NaN      NaN     NaN
88887      NaN                NaN             NaN        NaN      NaN     NaN
88888      NaN                NaN             NaN        NaN      NaN     NaN

      Latitude Longitude Airport.Code Airport.Name  ... Purpose.of.flight  \
0          NaN       NaN          NaN          NaN  ...               NaN
1          NaN       NaN          NaN          NaN  ...               NaN
2          NaN       NaN          NaN          NaN  ...               NaN
3          NaN       NaN          NaN          NaN  ...               NaN
4          NaN       NaN          NaN          NaN  ...               NaN
...        ...       ...          ...          ...  ...               ...
88884      NaN       NaN          NaN          NaN  ...               NaN
88885      NaN       NaN          NaN          NaN  ...               NaN
88886      NaN       NaN          NaN          NaN  ...               NaN
88887      NaN       NaN          NaN          NaN  ...               NaN
88888      NaN       NaN          NaN          NaN  ...               NaN

      Air.carrier Total.Fatal.Injuries Total.Serious.Injuries  \
0             NaN                  NaN                    NaN
1             NaN                  NaN                    NaN
2             NaN                  NaN                    NaN
3             NaN                  NaN                    NaN
4             NaN                  NaN                    NaN
...           ...                  ...                    ...
88884         NaN                  NaN                    NaN
88885         NaN                  NaN                    NaN
88886         NaN                  NaN                    NaN
88887         NaN                  NaN                    NaN
88888         NaN                  NaN                    NaN

      Total.Minor.Injuries Total.Uninjured Weather.Condition  \
0                      NaN             NaN               NaN
1                      NaN             NaN               NaN
2                      NaN             NaN               NaN
3                      NaN             NaN               NaN
4                      NaN             NaN               NaN
...                    ...             ...               ...
88884                  NaN             NaN               NaN
88885                  NaN             NaN               NaN
88886                  NaN             NaN               NaN
88887                  NaN             NaN               NaN
88888                  NaN             NaN               NaN

      Broad.phase.of.flight Report.Status Publication.Date
0                       NaN           NaN              NaN
1                       NaN           NaN              NaN
2                       NaN           NaN              NaN
3                       NaN           NaN              NaN
4                       NaN           NaN              NaN
...                     ...           ...              ...
88884                   NaN           NaN              NaN
88885                   NaN           NaN              NaN
88886                   NaN           NaN              NaN
88887                   NaN           NaN              NaN
88888                   NaN           NaN              NaN

[88889 rows x 31 columns]

In [4]:
df = df.drop(columns= ['Latitude', 'Longitude'])
print(df)

             Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26
88885  20221227106494           Accident      ERA23LA095  2022-12-26
88886  20221227106497           Accident      WPR23LA075  2022-12-26
88887  20221227106498           Accident      WPR23LA076  2022-12-26
88888  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country Airport.Code Airport.Name  \
0      MOOSE CREEK, ID  United States          NaN          NaN
1       BRIDGEPORT, CA  United States          NaN          NaN
2        Saltville, VA  United States          NaN          NaN
3           EUREKA, CA  United States          NaN          NaN
4           Canton, OH  United States          NaN          NaN
...                ...            ...          ...          ...
88884    Annapolis, MD  United States          NaN          NaN
88885      Hampton, NH  United States          NaN          NaN
88886       Payson, AZ  United States          PAN       PAYSON
88887       Morgan, UT  United States          NaN          NaN
88888       Athens, GA  United States          NaN          NaN

      Injury.Severity Aircraft.damage  ... Purpose.of.flight  \
0            Fatal(2)       Destroyed  ...          Personal
1            Fatal(4)       Destroyed  ...          Personal
2            Fatal(3)       Destroyed  ...          Personal
3            Fatal(2)       Destroyed  ...          Personal
4            Fatal(1)       Destroyed  ...          Personal
...               ...             ...  ...               ...
88884           Minor             NaN  ...          Personal
88885             NaN             NaN  ...               NaN
88886       Non-Fatal     Substantial  ...          Personal
88887             NaN             NaN  ...          Personal
88888           Minor             NaN  ...          Personal

              Air.carrier Total.Fatal.Injuries Total.Serious.Injuries  \
0                     NaN                  2.0                    0.0
1                     NaN                  4.0                    0.0
2                     NaN                  3.0                    NaN
3                     NaN                  2.0                    0.0
4                     NaN                  1.0                    2.0
...                   ...                  ...                    ...
88884                 NaN                  0.0                    1.0
88885                 NaN                  0.0                    0.0
88886                 NaN                  0.0                    0.0
88887  MC CESSNA 210N LLC                  0.0                    0.0
88888                 NaN                  0.0                    1.0

      Total.Minor.Injuries  Total.Uninjured Weather.Condition  \
0                      0.0              0.0               UNK
1                      0.0              0.0               UNK
2                      NaN              NaN               IMC
3                      0.0              0.0               IMC
4                      NaN              0.0               VMC
...                    ...              ...               ...
88884                  0.0              0.0               NaN
88885                  0.0              0.0               NaN
88886                  0.0              1.0               VMC
88887                  0.0              0.0               NaN
88888                  0.0              1.0               NaN

      Broad.phase.of.flight   Report.Status Publication.Date
0                    Cruise  Probable Cause              NaN
1                   Unknown  Probable Cause       19-09-1996
2                    Cruise  Probable Cause       26-02-2007
3                    Cruise  Probable Cause       12-09-2000
4                  Approach  Probable Cause       16-04-1980
...                     ...             ...              ...
88884                   NaN             NaN       29-12-2022
88885                   NaN             NaN              NaN
88886                   NaN             NaN       27-12-2022
88887                   NaN             NaN              NaN
88888                   NaN             NaN       30-12-2022

[88889 rows x 29 columns]

In [5]:
df = df.drop_duplicates()
print(df)

             Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26
88885  20221227106494           Accident      ERA23LA095  2022-12-26
88886  20221227106497           Accident      WPR23LA075  2022-12-26
88887  20221227106498           Accident      WPR23LA076  2022-12-26
88888  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country Airport.Code Airport.Name  \
0      MOOSE CREEK, ID  United States          NaN          NaN
1       BRIDGEPORT, CA  United States          NaN          NaN
2        Saltville, VA  United States          NaN          NaN
3           EUREKA, CA  United States          NaN          NaN
4           Canton, OH  United States          NaN          NaN
...                ...            ...          ...          ...
88884    Annapolis, MD  United States          NaN          NaN
88885      Hampton, NH  United States          NaN          NaN
88886       Payson, AZ  United States          PAN       PAYSON
88887       Morgan, UT  United States          NaN          NaN
88888       Athens, GA  United States          NaN          NaN

      Injury.Severity Aircraft.damage  ... Purpose.of.flight  \
0            Fatal(2)       Destroyed  ...          Personal
1            Fatal(4)       Destroyed  ...          Personal
2            Fatal(3)       Destroyed  ...          Personal
3            Fatal(2)       Destroyed  ...          Personal
4            Fatal(1)       Destroyed  ...          Personal
...               ...             ...  ...               ...
88884           Minor             NaN  ...          Personal
88885             NaN             NaN  ...               NaN
88886       Non-Fatal     Substantial  ...          Personal
88887             NaN             NaN  ...          Personal
88888           Minor             NaN  ...          Personal

              Air.carrier Total.Fatal.Injuries Total.Serious.Injuries  \
0                     NaN                  2.0                    0.0
1                     NaN                  4.0                    0.0
2                     NaN                  3.0                    NaN
3                     NaN                  2.0                    0.0
4                     NaN                  1.0                    2.0
...                   ...                  ...                    ...
88884                 NaN                  0.0                    1.0
88885                 NaN                  0.0                    0.0
88886                 NaN                  0.0                    0.0
88887  MC CESSNA 210N LLC                  0.0                    0.0
88888                 NaN                  0.0                    1.0

      Total.Minor.Injuries  Total.Uninjured Weather.Condition  \
0                      0.0              0.0               UNK
1                      0.0              0.0               UNK
2                      NaN              NaN               IMC
3                      0.0              0.0               IMC
4                      NaN              0.0               VMC
...                    ...              ...               ...
88884                  0.0              0.0               NaN
88885                  0.0              0.0               NaN
88886                  0.0              1.0               VMC
88887                  0.0              0.0               NaN
88888                  0.0              1.0               NaN

      Broad.phase.of.flight   Report.Status Publication.Date
0                    Cruise  Probable Cause              NaN
1                   Unknown  Probable Cause       19-09-1996
2                    Cruise  Probable Cause       26-02-2007
3                    Cruise  Probable Cause       12-09-2000
4                  Approach  Probable Cause       16-04-1980
...                     ...             ...              ...
88884                   NaN             NaN       29-12-2022
88885                   NaN             NaN              NaN
88886                   NaN             NaN       27-12-2022
88887                   NaN             NaN              NaN
88888                   NaN             NaN       30-12-2022

[88889 rows x 29 columns]

In [6]:
df.shape

(88889, 29)

## Requirements
### 1. Most used Aircraft
Alphabetically sorted list of  mst used plane Make and Models
### 2. Associating total fatal injuries to the Models and Make
### 3. Associating make and model to weather
### 4. find outliers
presumably checking which models can withstand the weather
### 5. Analysis of AviationData

In [7]:
df['Aircraft']= df['Make'].astype(str) + " " + df['Model'].astype(str)
most_used_aircraft = df['Aircraft'].value_counts().head(10)
print(most_used_aircraft)

Aircraft
Cessna 152         2168
Cessna 172         1254
Cessna 172N         996
Piper PA-28-140     812
Cessna 150          716
Cessna 172M         667
Cessna 172P         597
Piper PA-18         539
Cessna 150M         539
Piper PA-28-161     502
Name: count, dtype: int64

In [8]:
df['Aircraft']= df['Make'].astype(str) + " " + df['Model'].astype(str)
least_used_aircraft = df['Aircraft'].value_counts(ascending= True).head(10)
print(least_used_aircraft)

Aircraft
Bailey DSA-1                           1
Ayres SR2                              1
Werner Vari-Eze                        1
nan Unknown                            1
Trinidad TB-20                         1
Slingsby Swallow Type T.45             1
Kearney Pulsar XP                      1
Schrack Starduster Too                 1
American Air Racing Thunder Mustang    1
Jones Challenger II                    1
Name: count, dtype: int64

In [9]:
# Use loc to tell pandas to modify the specific columns and not a temporary column

df_subset = df[['Model', 'Make', 'Total.Fatal.Injuries']]
df_subset.loc[:, 'Total.Fatal.Injuries'] = pd.to_numeric(df_subset['Total.Fatal.Injuries'],errors= 'coerce')
fatalities_by_model =df_subset.groupby(['Model', 'Make'])['Total.Fatal.Injuries'].sum().reset_index()
fatalities_by_model = fatalities_by_model.sort_values(by= 'Total.Fatal.Injuries', ascending= False)
print(fatalities_by_model)

           Model                            Make  Total.Fatal.Injuries
2506         737                          BOEING                1348.0
2543     737-200                          Boeing                 906.0
2866   777 - 206                          BOEING                 534.0
12038      MD-82                          Boeing                 403.0
3504        A321                          AIRBUS                 381.0
...          ...                             ...                   ...
8241     EMB-202                         EMBRAER                   0.0
8242     EMB-202                         Embraer                   0.0
8244     EMB-500  EMBRAER EXECUTIVE AIRCRAFT INC                   0.0
8245     EMB-500                    EMBRAER S.A.                   0.0
10068      Husky                           Aviat                   0.0

[20136 rows x 3 columns]

In [10]:
# Use loc to tell pandas to modify the specific columns and not a temporary column

df_subset = df[['Model', 'Make', 'Total.Serious.Injuries']]
df_subset.loc[:, 'Total.Serious.Injuries'] = pd.to_numeric(df_subset['Total.Serious.Injuries'],errors= 'coerce')
fatalities_by_model =df_subset.groupby(['Model', 'Make'])['Total.Serious.Injuries'].sum().reset_index()
fatalities_by_model = fatalities_by_model.sort_values(by= 'Total.Serious.Injuries', ascending= False)
print(fatalities_by_model)

           Model                   Make  Total.Serious.Injuries
2506         737                 BOEING                   380.0
13437  PA-28-140                  Piper                   219.0
446          172                 Cessna                   192.0
357          152                 Cessna                   168.0
514         172N                 Cessna                   150.0
...          ...                    ...                     ...
8072       EA300                  EXTRA                     0.0
8074     EA300/L      Extra Flugzeugbau                     0.0
8075       EA500  ECLIPSE AEROSPACE INC                     0.0
8077       EA500       Eclipse Aviation                     0.0
20135    unknown                Unknown                     0.0

[20136 rows x 3 columns]

In [11]:
# Use loc to tell pandas to modify the specific columns and not a temporary column

df_subset = df[['Model', 'Make', 'Total.Fatal.Injuries']]
df_subset.loc[:, 'Total.Fatal.Injuries'] = pd.to_numeric(df_subset['Total.Fatal.Injuries'],errors= 'coerce')
fatalities_by_model =df_subset.groupby(['Model', 'Make'])['Total.Fatal.Injuries'].sum().reset_index()
fatalities_by_model = fatalities_by_model.sort_values(by= 'Total.Fatal.Injuries', ascending= True)
print(fatalities_by_model)

           Model               Make  Total.Fatal.Injuries
0          &GCBC           Champion                   0.0
12032      MD-80  Mcdonnell Douglas                   0.0
12033      MD-81             Boeing                   0.0
12034      MD-81  MCDONNELL DOUGLAS                   0.0
12035      MD-81  Mcdonnell Douglas                   0.0
...          ...                ...                   ...
3504        A321             AIRBUS                 381.0
12038      MD-82             Boeing                 403.0
2866   777 - 206             BOEING                 534.0
2543     737-200             Boeing                 906.0
2506         737             BOEING                1348.0

[20136 rows x 3 columns]

In [12]:
Fatal_Aircraft = fatalities_by_model.loc[fatalities_by_model['Total.Fatal.Injuries'].idxmax()]
print(Fatal_Aircraft)

Model                      737
Make                    BOEING
Total.Fatal.Injuries    1348.0
Name: 2506, dtype: object

In [13]:
Fatal_Aircraft = fatalities_by_model.loc[fatalities_by_model['Total.Fatal.Injuries'].idxmin()]
print(Fatal_Aircraft)

Model                      &GCBC
Make                    Champion
Total.Fatal.Injuries         0.0
Name: 0, dtype: object